<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="description"
        content="{{ .Description }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ .Title }}</title>
    <style nonce="{{ .Nonce }}">
        {{/* Avoid white flash by assigning background colour in html. */}}
        @media (prefers-color-scheme: dark) {
            html, body, :root {
                background-color: #282a36;
                color: #fff;
            }
        }
    </style>
    <link nonce="{{ .Nonce }}" rel="stylesheet" href="/static/discover.css"/>
    <link nonce="{{ .Nonce }}" rel="preconnect" href="https://fonts.googleapis.com">
    <link nonce="{{ .Nonce }}" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link nonce="{{ .Nonce }}" href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <h1>The Message</h1>
    <p>{{ .Message }}</p>
</main>
</body>
</html>
